@import url('../css/styles.css');
main h1{
    font-size: 4em;
    text-align: center;
}
.imagenes{
    display: flex;
    float: left;
    align-items: center;
}
.imagenes a{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-decoration: none;
}
.imagenes img {
    margin-bottom: 10px;
    width: 50%;
    height: 50%;
    transition: 1s ease;
}
.imagenes img:hover{
    height: 100%;
    width: 100%;
}
.imagenes label {
    text-align: center;
    font-size: 2em;
}
/*seguir mas talde*/