<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ejemplos de prueba</title>
        <link rel="stylesheet" href="../static/estilos.css">
    </head>
    <body>
        <header>
            <h1>Mejor Pagina Web 2024</h1>
        </header>
        <div class="cuerpo">
            <div>
                <form action="../receptor.py" method="post">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" pattern="[A-Za-z]+" title="Solo se permiten letras" required>
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido" pattern="[A-Za-z]+" title="Solo se permiten letras" required>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                    <tr>
                        <td>JOSE</td>
                        <td>JULIAN</td>
                    </tr>
                    <tr>
                        <td>LUIS</td>
                        <td>PEREZ</td>
                    </tr>
                </table>
            </div>
            <div> <!--urls-->
                <a href="https://www.youtube.com">YouTube</a>
                <a href="https://www.instagram.com">Instagram</a>
                <a href="https://www.x.com">X</a>
                <input type="button" value="toca para sorpresa" onclick="window.location.href='sorpresa.html'">
            </div>
            <div>
                <p>LAS MAS LINDAS DE LA HISTORIA!</p>
                <ol>
                    <li><a href="https://www.instagram.com/sydney_sweeney/">Sydney Sweeney</a></li>
                    <li><a href="https://www.instagram.com/billieeilish/">Billie Eilish</a></li>
                    <li>Margot Robbie</li> <!--no tiene ig -->
                    <li><a href="https://www.instagram.com/nicki.nicole/">Nicki Nicole</a></li>
                </ol>
            </div>
            <div>
                <img src="../static/images/GXiB0v5XUAET-tT.jpeg" alt="Billie">
                <img src="../static/images/GXhHtmGbUAAQQ-u.jpeg" alt="Sydney">
                <img src="../static/images/mr.jpeg" alt="Margot">
                <img src="../static/images/nn.jpeg" alt="Nicki">
            </div>
        </div>
        <footer>
            <p>EL MAS CAPO 2024</p>
        </footer>
</body>
</html>