body{
    background-color: gray;
}
footer{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 50px;
}
#logo{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    position:absolute;
    top: 0;
    right: 0;
}
#headerlogipack{
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#cuerpo{
    background-color: beige;
    display: grid;
    place-items: center;
    height: 50vh;
    position: relative;
    top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 20px;
}
#titulos{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#titulos_exitos{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
#titulos_fracaso{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#logoexito_fracaso{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    position:absolute;
    top: 0;
    right: 0;
}
#informacion_exito{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#botones_volver{
    background-color: black;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    color: aliceblue;
    text-decoration: none;
}
#opcion_despachante{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
    color:black;
    background-color: gray;
    border-radius: 20px;
}
#selects{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        padding: 10px;
        border-radius: 5px;
        appearance: none;
        background-position: right center;
        text-align: center;
        background-color:grey;
        color:aliceblue;
}
#botones_seleccion{
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}
#inputs{
    width: 300px;
    height: 30px;
    font-size: 25px;
}
#textos_inputs{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#boton_seleccion_paquete{
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 200px;
}