<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/estilos.css">
    <title>Pagina de prueba 2</title>
</head>
<body>
    <header>
        Pagina Web 2024
    </header>
    <nav>
        <a href="index.html">Inicio</a>
        <a href="/Programacion Web/unidad 2/pruebas_para_parcial/prueba 1/templates/pruebas.html">Pagina de Prueba 1</a>
        <a href="pagina2.html">Pagina 2</a>
        <a href="pagina3.html">Pagina 3</a>
    </nav>
    <div>
        <aside>
            <h1>Tecnología y Programación</h1>
            <p>La inteligencia artificial (IA) está revolucionando el mundo de la tecnología. Con el avance de los algoritmos de aprendizaje automático, las máquinas ahora pueden realizar tareas que antes eran exclusivas de los humanos. Desde la conducción autónoma hasta la detección temprana de enfermedades, la IA está transformando industrias enteras. En el ámbito de la programación, lenguajes como Python y frameworks como TensorFlow están facilitando el desarrollo de aplicaciones de IA, permitiendo a los desarrolladores crear soluciones innovadoras con mayor rapidez y eficiencia.</p>
        </aside>
        <aside>
            <h1>Viajes y Aventuras</h1>
            <p>Viajar es una de las experiencias más enriquecedoras que una persona puede tener. Explorar nuevos lugares, conocer diferentes culturas y probar comidas exóticas amplía nuestra perspectiva del mundo. Imagina caminar por las calles históricas de Roma, admirar la arquitectura antigua y disfrutar de un auténtico gelato italiano. O quizás prefieras una aventura en la naturaleza, como hacer senderismo en los Andes y maravillarte con las impresionantes vistas de las montañas. Cada viaje es una oportunidad para aprender y crecer.</p>
        </aside>
        <aside>
            <h1>Salud y Bienestar</h1>
            <p>Mantener un estilo de vida saludable es esencial para el bienestar general. Esto incluye una dieta equilibrada, ejercicio regular y una buena gestión del estrés. Comer una variedad de frutas y verduras, junto con proteínas magras y granos enteros, proporciona los nutrientes necesarios para el cuerpo. Además, actividades como el yoga y la meditación pueden ayudar a reducir el estrés y mejorar la salud mental. Recuerda que cuidar de tu salud no solo te beneficia a ti, sino también a quienes te rodean.</p>
        </aside>
    </div>
    <main>
        <article>
            <h1>Articulo 1: probando html</h1>
            <p>
                <a href="https://www.google.com">Enlace a Google</a>
            </p>
            <table>
                <tr>
                    <th>
                        nombres
                    </th>
                    <th>
                        apellidos
                    </th>
                </tr>
                <td>
                    Diego
                </td>
                <td>
                    garcia
                </td>
            </table>
        </article>
        <article>
            <h1>las mas impecables de la historia</h1>
            <ol>
                <li><a href="https://www.instagram.com/sydney_sweeney/">Sydney Sweeney</a></li>
                <li><a href="https://www.instagram.com/billieeilish/">Billie Eilish</a></li>
                <li><a href="https://www.instagram.com/nicki.nicole/">Nicki Nicole</a></li>
                <li><a href="https://www.instagram.com/jennaortega/">Jenna Ortega</a></li> <!--no tiene ig -->
            </ol>            
        </article>
        <article>
            <h1>articulo 3: imagenes de las impecables de la historia!</h1>
            <img src="../static/images/GXhHtmGbUAAQQ-u.jpeg" alt="Sydney">
            <p>Sydney Sweeney</p>
            <img src="../static/images/GXiB0v5XUAET-tT.jpeg" alt="Billie">
            <p>Billie Eilish</p>
            <img src="../static/images/nn.jpeg" alt="Nicki">
            <p>Nicki Nicole</p>
            <img src="../static/images/jo.jpeg" alt="Jenna">
            <p>Jenna Ortega</p>
        </article>
    </main>
    <footer>
        Diego Capo 123
    </footer>
</body>
</html>
<!--USAR ESTA TEMPLATE PARA HACER EL CV DESPUES--->