<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina chela</title>
</head>
<body>
    <h1>FORMULARIO</h1><br>
    <form action="http://127.0.0.1:5000/validacion" method="post">
    <label for="nom">nombre de usuario: </label>
    <input type="text" name="nom" placeholder="nombre de usuario"><br>
    <label for="cont">contraseña: </label>
    <input type="password" name="cont" placeholder="contraseña"><br>
    <input type="submit" value="enviar">
    </form>
    <form action="http://127.0.0.1:5000/sydney"><input type="submit" value="ver algo yico"></form>
</body>
</html>