{%extends "base.html"%}
{%block title%}REGISTRO DE PAQUETE{%endblock%}
{%block content%}
<h1 id="titulos">RECEPCION DE PAQUETE | {{sucu.id}} {{sucu.provincia}} {{sucu.localidad}}</h1>
<form action="{{request.path}}" method="post">
    <label for="peso" id="textos_inputs">Peso paquete</label><br>
    <input type="text" id="inputs" name="peso" required placeholder="Peso, Kg"><br>
    <label for="nombre" id="textos_inputs">Nombre destinatario</label><br>
    <input type="text" id="inputs" name="nombre" required placeholder="Nombre, Apellido" pattern="[a-zA-Z ]+"><br>
    <label for="direccion" id="textos_inputs">Direccion destinatario</label><br>
    <input type="text" id="inputs" name="direccion" required placeholder="Direccion"><br>
    <input type="submit" value="registrar recepcion!" id="boton_seleccion_paquete">
</form>
<a href="{{url_for('funcionesdespachante')}}" id="botones_volver">volver a pantalla de seleccion de operacion</a>
{%endblock%}