{%extends "base.html"%}
{%block title%}SIN TRANSPORTES DISPONIBLES{%endblock%}
{%block content%}
<img src="..//static/image/logofracaso.png" alt="fracaso" id="logoexito_fracaso">
<h1 id="titulos_fracaso">para la sucursal: {{sucu.id}} {{sucu.provincia}} {{sucu.localidad}}<br>No hay transportes en curso!</h1><br>
<a href="{{url_for('funcionesdespachante')}}" id="botones_volver">volver a pantalla de seleccion de operacion</a>
<a href="{{url_for('accesodesp')}}" id="botones_volver">Volver a seleccion de sucursal</a>
{%endblock%}