<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles-inicio.css">
    <title>Mi Pagina Web</title>
</head>
<body>
    <nav>
        <a href="../templates/index.html">Inicio</a>
        <a href="../templates/texto.html">Texto</a>
        <a href="../templates/tabla.html">Tabla</a>
        <a href="../templates/multimedia.html">Multimedia</a>
        <a href="../templates/formulario.html">Formulario</a>
    </nav>
    <header>
        <h1>Bienvenido a mi Pagina Web</h1>
        <p>Esta es una pagina de ejemplo para el ejercicio de HTML</p>
    </header>
    <main>
        <h2>
            Acerca de Nosotros
        </h2>
        <p>
            Somos una organizacion dedicada a ofrecer soluciones web.
        </p>
    </main>
    <section>
        <h2>
            Nuestros Servicios
        </h2>
        <ol type="a">
            <li>Inteligencia Artificial</li>
            <li>APIs</li>
            <li>Interactividad</li>
        </ol>
        <a href="https://www.ejemplo.com" target="_blank">Ver mas Servicios</a>
    </section>
    <footer>
        <a href="href=mailto:info@miorganizacion.com">Enviar Correo Electronico</a>
        <a href="tel:+1234567890">LLamar por Telefono</a>
        <p> &copy; Todos los derechos reservados</p>
    </footer>
</body>
</html>