<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles-multimedia.css">
    <title>Multimedia</title>
</head>
<body>
    <nav>
        <a href="../templates/index.html">Inicio</a>
        <a href="../templates/texto.html">Texto</a>
        <a href="../templates/tabla.html">Tabla</a>
        <a href="../templates/multimedia.html">Multimedia</a>
        <a href="../templates/formulario.html">Formulario</a>
    </nav>
    <main>
        <h1>Desarrollo Web y Html</h1>
        <div class="imagenes">
            <label for="Escritorio-MacBook">Escritorio Macbook</label>
            <img src="../static/img/desktop-cropped.jpg" alt="Escritorio-MacBook">
            <label for="Doble-Pantallas">Doble Pantallas con codigo HTML</label>
            <img src="../static/img/farzad-p-xSl33Wxyc-unsplash.jpg" alt="Doble Pantallas con codigo HTML">
            <label for="Macbook-Desarrollo">Macbook y un entorno de Desarrollo</label>
            <img src="../static/img/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg" alt="Macbook-Desarrollo">
            <label for="Lluvia-Digital">Lluvia Digital</label>
            <img src="../static/img/Digital_rain_animation_medium_letters_shine.gif" alt="Lluvia-Digital">
        </div>
        <div class="videos">
            <label for="videos">Videos Instructivos</label>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nu_pCVPKzTk?si=nf91PnCF5uQVmkM5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mK8H9lY2xcM?si=q24ptwLH7nIXXV1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rnmbxqS1nRo?si=TyVnIHQb6X5U6BiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </main>
    <footer>
</body>
</html>