<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles-multimedia.css">
    <title>Multimedia</title>
</head>
<body>
    <nav>
        <a href="../templates/index.html">Inicio</a>
        <a href="../templates/texto.html">Texto</a>
        <a href="../templates/tabla.html">Tabla</a>
        <a href="../templates/multimedia.html">Multimedia</a>
        <a href="../templates/formulario.html">Formulario</a>
    </nav>
    <main>
        <h1>Desarrollo Web y Html</h1>
        <div class="imagenes">
            <img src="../static/img/desktop-cropped.jpg" alt="Escritorio y MacBook">
            <p>Escritorio de un Desarrollador</p>
            <img src="../static/img/Digital_rain_animation_medium_letters_shine.gif" alt="Lluvia Digital">
            <p>Lluvia Digital <q>Matrix. 1999</q></p>
        </div>
        <div class="videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nu_pCVPKzTk?si=nf91PnCF5uQVmkM5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Curso Full Stack en Ingles</p>
        </div>
        <!--agregar marcadores internos-->
    </main>
</body>
</html>