{%extends "base.html"%}
{%block title%}SELECCION DE SUCURSAL{%endblock%}
{%block content%}
<form action="{{request.path}}" method="POST">
    <label for="SUCURSALES">SUCURSALES</label><br>
    <select name="sucursales" id="sucursales">
        {%for sucursales in sucursales | sort(attribute="id")%}
            <option value="{{sucursales.id}}">{{sucursales.id}} {{sucursales.provincia}} {{sucursales.localidad}}</option>
        {%endfor%}
    </select>
    <br>
    <input type="submit" value="seleccionar sucursal">
</form>
{%endblock%}