{% extends "base.html"%}
{% block title %}Salida de Transportes{% endblock %}
{% block content %}
<form action="{{request.path}}" method="POST">
    <h1 id="titulos">Sucursales de Destino</h1>
    <select name="sucursal_dest" id="selects">
        {%for sucursal in sucursalesdest | sort(attribute="id")%}
            <option value="{{sucursal.id}}">sucursal numero {{sucursal.id}},provincia: {{sucursal.provincia}}, localidad: {{sucursal.localidad}}</option>
        {%endfor%}
    </select>
    <input type="submit" value="seleccionar sucursal" id="botones_seleccion">
</form>
<a href="{{url_for('funcionesdespachante')}}" id="botones_volver">volver a pantalla de seleccion de operacion</a>
{% endblock %}