{%extends "base.html"%}
{%block title%}SELECCION DE PAQUETE{%endblock%}
{%block content%}
<form action="{{request.path}}" method="POST">
    <h1 id="titulos">Paquetes</h1>
    <select name="paquetes" multiple id="selects">
        {%for paquete in paquetes %}
            {%if paquete.idtransporte==none%}
                <option value="{{paquete.id}}">numero de paquete: {{paquete.numeroenvio}}, direccion de destino:{{paquete.dirdestinatario}}</option>
            {%endif%}
        {%endfor%}
    </select>
    <input type="submit" value="registrar transporte" id="botones_seleccion">
</form>
{%endblock%}