{%extends "base.html"%}
{%block title%}SELECCION DE SUCURSAL{%endblock%}
{%block content%}
<form action="{{request.path}}" method="POST">
    <h1>Paquetes</h1><br>
    <select name="paquetes" multiple>
        {%for paquete in paquetes %}
            {%if paquete.idtransporte==none%}
                <option value="{{paquete.id}}">numero de paquete: {{paquete.numeroenvio}}, direccion de destino:{{paquete.dirdestinatario}}</option>
            {%endif%}
        {%endfor%}
    </select>
    <br>
    <input type="submit" value="registrar transporte">
</form>
{%endblock%}